@import 'jeet'

@import 'loader'

// vars
base-fonts = arial
base-font-size = 12px
header-height = 40px
border-radius = 2px

// colors
bg-color = #EFEFEF
font-color = #5E5E5E
// font-color = #888
// inverse-font-color = #A1A1A1
inverse-font-color = #CDCDCD

global-reset()

// typography
bold-italic()
headers()
text-selection()
lists()

base(base-fonts, base-font-size, font-color)

body
    center(960px)